@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Nuosu+SIL&display=swap');

:root{

}
* {
  box-sizing: border-box;
}

html {

}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 1.6rem;
  line-height: 1.5;
  text-rendering: optimizeSpeed;
}